<div class="container">
  <div class="sidebar">
    sidebar
  </div>
  <div class="header">
    header
  </div>
  <div class="realtors">
    top 3 realtors
  </div>
  <section class="features">
    features
  </section>
  <div class="story__pictures">
    story picures
  </div>
  <div class="story__content">
    story content
  </div>
  <section class="homes">
    homes
  </section>
  <section class="gallery">
    gallery
  </section>
  <div class="footer">
    footer
  </div>
</div>
